h1{font-style: calc();background-color: antiquewhite;color: rgb(46, 46, 49);}
p{background-color: rgb(243, 80, 80);font-style: oblique;}
img{border: 0dvb;width: 400px;float: right;height: 200;}
button{float: center;}
h2{float:center ;color: rgb(14, 19, 146);}
button{color: blue;}